---
layout: default
title: My Projects
lang: en
lang_ref: postsPage
---

<h1>Project Documentation</h1>
<div class="search-container">
  <input
    type="text"
    id="projectSearch"
    placeholder="Search by name, #tag, or category..."
    onkeyup="filterProjects()"
  />
</div>

<ul id="projectList" class="post-list">
  {% for post in site.posts %} {% if post.lang == page.lang %}
  <li
    class="project-item"
    data-title="{{ post.title | downcase }}"
    data-tags="{{ post.tags | join: ' ' | downcase }}"
    data-category="{{ post.categories | join: ' ' | downcase }}"
  >
    <a href="{{ post.url | relative_url }}"
      ><strong>{{ post.title }}</strong></a
    >

    <div class="project-meta">
      <span class="category-label">{{ post.categories | last }}</span>
      <span class="tags-list">
        {% for tag in post.tags %}
        <small class="tag">#{{ tag }}</small>
        {% endfor %}
      </span>
    </div>
  </li>
  {% endif %} {% endfor %}
</ul>
